<div id="container-instructions">

    <h1> Experiment Instructions </h1>
	<hr>

   	<div class="instructions well">
        <p>
            You will now see new sets of images, with different textures, colors, and shapes.
        <p>
            For each image, there is a single correct key to press. You will need to use the feedback to find out what the correct key is for each image.
        <p>
            There may or may not be feedback indicating the correctness of your response.
            Bonuses may be awarded based on performance.
        </p>
        </p>
        </p>

	   <!--  <script type="text/javascript">
	       //console.log(psiTurk.getInstructionIndicator())
	    </script> -->
	</div>

	<hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Begin Experiment<span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
