<div id="container-instructions">

    <h1> Experiment Instructions </h1>
	<hr>

   	<div class="instructions well">
        <p>
            Instructions: You will see sets of various images, each with different shapes, colors, and textures.
        <p>
            Each shape will have a different rule associated with it (Press buttons "F","G","H", or "J").
        <p>
            There may or may not be feedback indicating the correctness of your response.
        </p>
        </p>
        </p>
            <b>An Important Note!</b> Please disable any pop-up blocking plugins or software your browser is running for this experiment!
        </p>

	   <!--  <script type="text/javascript">
	       //console.log(psiTurk.getInstructionIndicator())
	    </script> -->
	</div>

	<hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Begin Experiment<span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
