<div id="container-exp">
	<h1>Trial Rules</h1>
	<body>
	<div class = 'instruction-exp'>
		<p> When shown the shape on the left, press the indicated keyboard button.
		</p>
	</div>
	<div style="border:1px solid black;">
	<!-- We use float left to make sure both are on the left side, and wrap them in a div to make sure nothing touches the text. -->
	<img id = "response1" src="static/images/A1.png" style="width:400px; height:186px; float: right;
	position: fixed; top: 200px; left: 22%" />

	<img id = "response2" src="static/images/A2.png" style="width:400px; height:186px; float: right;
	position: fixed; top: 450px; left: 22%" />
	<!-- Spot for the 2 training images. Make them float left and align them horizontally with the button-press images.-->
	<img id = "shape1" src="static/images/" style="width:200px; height:200px; float: left;
	position: fixed; left: 5%" />

	<img id = "shape2" src="static/images/" style="width:200px; height:200px; float: left;
	position: fixed; top: 400px; left: 5%" />

	<img id = "response3" src="static/images/A3.png" style="width:400px; height:186px; float: right;
	position: fixed; top: 200px; left: 67%" />

	<img id = "response4" src="static/images/A4.png" style="width:400px; height:186px; float: right;
	position: fixed; top: 450px; left: 67%" />
	<!-- Spot for the 2 training images. Make them float left and align them horizontally with the button-press images.-->
	<img id = "shape3" src="static/images/" style="width:200px; height:200px; float: left;
	position: fixed; left: 50%" />

	<img id = "shape4" src="static/images/" style="width:200px; height:200px; float: left;
	position: fixed; top: 400px; left: 50%" />
	</div>
	</body>
	<script type="text/javascript">
		var shape1_r2 = document.getElementById('shape1');
		var shape2_r2 = document.getElementById('shape2');
		var shape3_r2 = document.getElementById('shape3');
		var shape4_r2 = document.getElementById('shape4');
		shape1_r2.src = '/static/images/' + Stim1.stim_img + '.png';
		shape2_r2.src = '/static/images/' + Stim2.stim_img + '.png';
		shape3_r2.src = '/static/images/' + Stim3.stim_img + '.png';
		shape4_r2.src = '/static/images/' + Stim4.stim_img + '.png';
	</script>
	<div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Continue<span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>

